<div id="game-list-container">

    <h2>Liste des parties</h2>

    <div class="all-screen-shadow" [ngClass]="isJoining ? 'ask-visible' : 'ask-hidden'">
        <div id="ask-password" [ngStyle]="{ 'left': cursorX+'px', 'top': cursorY+'px' }">
            <div class="popup-header">
                <p>Partie de {{ selectedGame.owner }}</p>
                <button (click)="isJoining = false"><app-svg name="close"></app-svg></button>
            </div>
            <form (submit)="onSubmit()">
                <input type="text" [(ngModel)]="password" name="password" placeholder="Saisir le mot de passe...">
                <input type="submit" class="button" value="Rejoindre" *ngIf="!isSubmitting">
                <button class="button" *ngIf="isSubmitting"><app-svg name="loading"></app-svg></button>
            </form>
        </div>
    </div>

    <table>
        <thead>
            <tr>
                <td>Date</td>
                <td>Crée par</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let line of games; let i = index">
                <td>{{ line.date }}</td>
                <td>{{ line.owner }}</td>
                <td><button class="button" (click)="onJoin(line, $event)">Rejoindre</button></td>
            </tr>
        </tbody>
    </table>
</div>