<h2>{{ displayTitle() }}</h2>
<app-neighbourhood-menu *ngIf="isCurrentPhase('NOT-HUB')"></app-neighbourhood-menu>
<div id="game-container">
    <app-chat></app-chat>
    <div id="game-content-container">
        <app-hub *ngIf="isCurrentPhase('HUB')"></app-hub>
        <app-setup *ngIf="isCurrentPhase('SETUP')"></app-setup>
        <app-board *ngIf="isCurrentPhase('NOT-HUB-SETUP')"></app-board>
        <app-skills *ngIf="isCurrentPhase('NOT-HUB-SETUP')"></app-skills>
        <app-choose-recipe *ngIf="isCurrentPhase('PLAY_RECIPES')"></app-choose-recipe>
        <app-produce-ingredients *ngIf="isCurrentPhase('PRODUCE_INGREDIENTS')"></app-produce-ingredients>
    </div>
</div>