h2 {
    padding-top: 64px;
}

#game-container {
    display: flex;
}

#game-content-container {
    width: 100%;
    margin: 2%;
    margin-top: 2%;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    gap: 1em;
}