#neighbourhood-container {
    text-align: center;
}

#neighbourhood-swipper {
    display: flex;
    justify-content: center;
    gap: 1em;
}

button {
    width: inherit;
}

p {
    font-size: 1.2em;
    &.me {
        color: var(--color-accent);
    }
}